* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 95px;
    background-color: rgb(39, 39, 39);
}

#logo-img {
    width: 170px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 110px;
    justify-content: center;
    align-items: center;
}


/* Botões header centro */

.btn-list {
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-list button {
    margin-right: 20px;
    width: 90px;
    height: 35px;
    border: solid 1px rgba(0, 0, 0, 0.712);
    border-radius: 7px;
    background-color: rgb(102, 67, 20);
    color: white;
}

.btn-list button:hover {
    border: solid 1px rgba(255, 255, 255, 0.548);
    box-shadow: 0 3px 3px 0 black;
    background-color: rgba(141, 104, 56, 0.753);
    cursor: pointer;
}


/* Botões header direita */

.contact-list {
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list button {
    width: 90px;
    height: 35px;
    margin-left: 35px;
    border: solid 1px rgba(0, 0, 0, 0.712);
    border-radius: 7px;
    background-color: rgb(102, 67, 20);
    color: white;
}

.contact-list button:hover {
    border: solid 1px rgba(255, 255, 255, 0.548);
    box-shadow: 0 3px 3px 0 black;
    background-color: rgba(141, 104, 56, 0.753);
    cursor: pointer;
}