* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 95px;
    background-color: rgb(39, 39, 39);
}

#logo-img {
    width: 170px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-list button {
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border: solid 1px black;
    background-color: rgb(102, 67, 20);
    color: white;
}

.contact-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}