* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 95px;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.726);
}

header.fixed {
    position: fixed;
    top: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(95, 95, 95);
}

#logo-img {
    width: 170px;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    /* margin-left: 110px; */
    justify-content: center;
    align-items: center;
}


/* Botões header centro */

.btn-list {
    flex: 1;
    /* margin-left: 240px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-list button {
    margin-right: 20px;
    width: 90px;
    height: 35px;
    color: white;
    background-color: rgb(102, 67, 20);
    border: solid 1px rgba(0, 0, 0, 0.712);
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.603);
}

.btn-list button:hover {
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.548);
    background-color: rgba(141, 104, 56, 0.753);
    box-shadow: 0 3px 3px 0 black;
    transition: 0.3s;
}


/* Botões header direita */

.contact-list {
    flex: 1;
    /* margin-left: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list button {
    width: 90px;
    height: 35px;
    margin-left: 35px;
    color: white;
    background-color: rgb(102, 67, 20);
    border: solid 1px rgba(0, 0, 0, 0.712);
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.603);
}

.contact-list button:hover {
    border: solid 1px rgba(255, 255, 255, 0.548);
    box-shadow: 1px 3px 3px 0 black;
    background-color: rgba(141, 104, 56, 0.753);
    cursor: pointer;
    transition: 0.3s;
}


/* Main */


.products-container .first {
    margin-top: 60px;
}

.products-container {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}

.products-container .product img {
    width: 320px;
    height: 250px;
    border-radius: 10px;
}

.products-container .product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product p.product-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.849);
    text-transform: uppercase;
}


/* Valores dos colchões */

.product-price {
    color: rgba(245, 245, 245, 0.699);
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    background-color: rgb(71, 71, 71);
    border-radius: 7px;
}

.product:hover .product-price {
    background-color: rgba(71, 71, 71, 0.712);
    transition: .2s;
}

.product:hover img {
    cursor: pointer;
}

.last-price {
    margin-left: 15px;
    font-size: 15px;
    font-family: sans-serif;
}

.new-price {
    color: rgba(245, 245, 245, 0.918);
    margin-left: 9px;
    font-size: 29px;
    font-family: sans-serif;
}

.product button {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 17px;
    border: solid 1px transparent;
    border-radius: 7px;
    background-color: transparent;
    color: transparent;
}

.product:hover button {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 17px;
    border: solid 1px rgba(0, 0, 0, 0.712);
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    transition: .3s;
}

.product button:hover {
    border-color: rgba(245, 245, 245, 0.274);
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 black;
    color: rgba(255, 255, 255, 0.781);
    transition: 0.2s;
}


/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff69;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 43, 43);
}


/* Footer */

footer {
    width: 100%;
    height: 120px;
    margin-top: 100px;
    background-color: rgb(39, 39, 39);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.726);
}

footer.fixed{
    bottom: 0;
    position: fixed;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    background-color: rgba(65, 63, 63, 0.788);
}

.footer-top p {
    font-size: 25px;
    color: whitesmoke;
}

.footer-ceos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    border-right: 1px solid white;
}

.footer-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-left: 1px solid white;
}

.footer-bottom {
    height: 60%;
    display: flex;
    align-items: center;
    background-color: rgba(65, 63, 63, 0.788);
    font-size: 20px;
    color: rgba(245, 245, 245, 0.637);
}

.ceos-text:hover {
    color: rgba(245, 245, 245, 0.781);
    cursor: pointer;
}

.footer-redes-sociais {
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom img {
    width: 50px;
    cursor: pointer;
}


/* PÁGINA CADASTRO */

.cadastro-title {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 110px;
    width: 100%;
}

.contact-items {
    width: 100%;
    height: 385px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.ocupa-espaco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contact-container {
    width: 365px;
    height: 100%;
    border: 1px solid rgba(150, 150, 150, 0.829);
    border-radius: 7px;
    font-weight: 600;
    /* display: flex; */
}

.contact-container-display{
    display: flex;
}

.contact-container-display .div1{
    flex: 1;
}
.contact-container-display .div2{
    flex: 2;
}

.contact-container input {
    width: 200px;
    height: 19px;
    border: 1px solid rgba(201, 201, 201, 0.671);
    border-radius: 3px;
    background-color: rgba(199, 199, 199, 0.534);
    outline: none;
}


/* .register-item {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
} */

.register-text {
    padding-top: 30px;
    text-align: center;

}

.register-text p {
    margin-top: 22px;
    height: 20px;
}

.register-inputs {
    padding-top: 30px;
    text-align: center;

}

.register-inputs input {
    margin-top: 20px;
}


.contact-container-btns{
    display: flex;
    justify-content: space-around;
}

.contact-container-btns button{
    width: 160px;
    height: 35px;
    margin-top: 45px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.699);
    font-weight: 600;
}

.contact-container-btns button:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.671);
    cursor: pointer;
    transition: .2s;
}

#loja-img{
    width: 700px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.616);
}

#loja-img:hover{
    cursor: pointer;
    box-shadow: none;
}